    <div class="container">
        <div class="row text-center">
            <div id="copyright">
                Copyright © 2017, <b>Independent Software Testing Services
                    Company | Cigniti Technologies</b>, All rights reserved
                    <a class="navbar-brand page-scroll" href="http://www.cigniti.com/" class="pull-right" target="_blank">
                        <img src="./assets/images/cigniti-logo.png" class="img-responsive img-centered" alt="Cigniti Technologies">
                    </a>
            </div>
        </div>
    </div>
