tr>td:nth-child(n+2){
text-align: center;
}
tr:not(:last-child)>td:nth-child(n+4):nth-child(-n+5){
background-color: rgba(183, 181, 177, 0.96);
}
tr:not(:last-child)>td:nth-child(n+11):nth-child(-n+12){
background-color: rgba(183, 181, 177, 0.96);
}
tr:last-child > td:nth-child(n+2){
text-align: right;
background-color:#D6DCE4;
}

tr:last-child>td:first-child{
	background: #203764;
	color: white;
}
tr>td input{
	width:50px;
	background-color: #e7e7e7;
	border:1px solid rgb(169, 169, 169)
}